@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500&display=swap');
:root {
    --primary: white;
    --secondary: #331ac0;
    --text: #1D1D1D;
    --sectionbg: #4c6b76b4;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
    font-size: 18px;
}

body {
    margin: 0px;
    color: var(--text);
}

header {
    padding: 7px 50px 4px 5px;
    background-color: #8686867c;
    position: fixed;
    z-index: 2;
    width: 100%;
    backdrop-filter: blur(5px);
}

header img {
    height: 50px;
    border-radius: 5px;
    margin-left: 2%;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 160%;
}

.nav {
    float: right;
    padding-top: 10px;
}

.nav a {
    color: var(--primary);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: Kanit;
}

.nav a:hover {
    color: var(--secondary);
}

h1 {
    font-family: Kanit;
    /* pentru telefonie sa fie relativ */
    font-size: 2rem;
    margin-top: 5px;
}

#intro {
    min-height: 100vh;
    background: linear-gradient(#a39b9b0a, #928d8d3d), url("../images/index.jpg");
    background-size: cover;
    color: var(--primary);
    position: relative;
}

.intro-content {
    padding-top: 22vh;
    padding-left: 8%;
}

.intro-content h1 {
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: -15px;
}

.logo {
    height: 90px;
    border-radius: 5%;
}

.custom-shape-divider-bottom-1647973333 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647973333 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 91px;
}

.custom-shape-divider-bottom-1647973333 .shape-fill {
    fill: #FFFFFF;
}

main section {
    padding: 70px 15% 35px 15%;
    position: relative;
}

.centered {
    text-align: center;
}

.intro-btn {
    display: inline-block;
    background-color: #ffffff3d;
    padding: 12px 10px;
    margin-right: 15px;
    border-radius: 4px;
    border: 2px solid #ffffff86;
    backdrop-filter: blur(5px);
    color: var(--primary);
}

.intro-btn:hover {
    filter: opacity(0.85);
}

#despre-btn {
    background-color: #19118844;
}

#despre {
    min-height: 70vh;
}

.p-despre {
    border: 2px rgb(202, 200, 214) solid;
    padding: 12px;
    border-radius: 5px;
    background-color: #ececec;
}

.slideshow {
    width: 100%;
    height: 65vh;
    border: 2px solid var(--secondary);
    border-radius: 4px;
}

.slide {
    /* sa fie inaltimea parintelui */
    height: inherit;
    position: relative;
    border-radius: inherit;
}

.slide img {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;
    text-align: center;
    color: var(--primary);
    /* font-weight: bold; */
    background: radial-gradient(#000000d3, #0000007e);
    border-radius: inherit;
    border: 2px solid var(--secondary);
    padding: 20px 12%;
    font-size: 1.05rem;
    gap: 30px;
}

.slide-text i {
    font-size: 3.5rem;
}

#despre>i,
#galerie>i {
    position: absolute;
    font-size: 2rem;
    z-index: -2;
}

.fly1 {
    top: 7%;
    left: 13%;
    /* aplicarea animatiei din @keyframes */
    animation: icon-anim1 3s 0.5s infinite;
}

.fly2 {
    bottom: 0%;
    left: 22%;
    animation: icon-anim1 2s 1s infinite;
}

.fly3 {
    bottom: 28%;
    left: 9%;
    animation: icon-anim1 2s 1s infinite;
}

.fly4 {
    bottom: 22%;
    right: 7%;
    animation: icon-anim2 2s 1s infinite;
}

.fly5 {
    top: 27%;
    right: 10%;
    animation: icon-anim1 2s 1s infinite;
}

.fly6 {
    top: 5%;
    right: 14%;
    animation: icon-anim2 3.5s 0.8s infinite;
}

.fly7 {
    bottom: 7%;
    left: 5%;
    animation: icon-anim1 2.5s 0.4s infinite;
}

.fly8 {
    top: 35%;
    left: 8%;
    animation: icon-anim1 2s 1s infinite;
}

.fly9 {
    bottom: 2%;
    right: 9%;
    animation: icon-anim1 2.8s 0.2s infinite;
}

#galerie {
    min-height: 60vh;
}

.container-galerie img {
    width: 300px;
    height: 240px;
}

.container-galerie {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.container-galerie img:hover {
    filter: drop-shadow(0 0 4px var(--secondary));
}

.row {
    overflow: auto;
}

[class^="col-"] {
    float: left;
    padding: opx 10px;
}

.col-50 {
    width: 50%;
}

#contacte {
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.harta {
    width: 100%;
    height: 450px;
    border-radius: 3px;
}

.contacte-info a {
    color: var(--text) !important;
}

.formular-container {
    background-color: #ffffff40;
    margin-right: 30px;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    padding-inline-end: 2px 10px 20px 10px;
    margin-top: 15px;
    overflow: auto;
}

.formular-container input,
.formular-container textarea {
    font-family: inherit;
    width: 80%;
    margin-bottom: 10px;
    resize: none;
    /* mai sus resize nu permite redemensionarea casetei Mesajul */
    font-size: 0.85rem;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    border: 1px solid gray;
}

.formular-container input[type="button"] {
    cursor: pointer;
    width: 130px;
    float: right;
    margin-right: 10%;
}

footer {
    text-align: center;
    padding: 25px 10px;
    background-color: var(--sectionbg);
    color: var(--primary);
}

.hamburger {
    color: var(--primary);
    font-size: 1.7rem;
    cursor: pointer;
    display: none !important;
}

.container-noutati {
    /* width: 100%; daca nu avem pagin a facebook */
    width: calc(100% - 310px);
    float: left;
}

.fb-desktop {
    float: right;
    margin-top: 90px;
}

.fb-mobile {
    display: none;
}

#noutati {
    overflow: auto;
    min-height: 95vh;
    padding-right: 8%;
}

.noutate {
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px 0px;
    position: relative;
    padding: 10px 15px 10px 15px;
    overflow: auto;
    margin-bottom: 15px;
}

.noutate img {
    width: 25%;
    float: left;
    margin-right: 12px;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px 0px;
}

.noutate p {
    font-size: 0.9rem;
}

.data {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 0.8rem;
}

#orar {
    min-height: 95vh;
}

.orar-details {
    border: 2px solid lightgray;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.orar-details summary {
    font-weight: bold;
    cursor: pointer;
}

.orar-details img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.orar-imagini {
    border-top: 2px solid lightgray;
    margin-top: 10px;
    display: flex;
    gap: 15px;
    /* distanta dintre gap */
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.orar-imagini a {
    position: relative;
    height: 220px;
    width: 220px;
    top: 10px;
}

.clasa {
    position: absolute;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    background-color: #00000071;
}

@keyframes icon-anim1 {
    0% {
        transform: scale(1) rotate(0deg);
    }
    40% {
        transform: scale(1.15) rotate(30deg);
    }
    /* 30deg 30grade */
    70% {
        transform: rotate(-30deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes icon-anim2 {
    0% {
        transform: translate(0) scale(1);
    }
    50% {
        transform: translate(10px) scale(1.1);
    }
    75% {
        transform: translate(-5px) scale(1.2);
    }
    100% {
        transform: translate(0) scale(1);
    }
}

@media (max-width: 1300px) {
    main section {
        padding-left: 10%;
        padding-right: 10%;
    }
    .noutate img {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    .noutate img {
        float: none;
        max-height: 240px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 780px) {
    html {
        font-size: 16px;
    }
    .intro-content h1 {
        font-size: 1.8rem;
    }
    main section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slideshow {
        height: 50vh;
    }
    .container-galerie img {
        width: 160px;
        height: 140px;
    }
    [class^="col-"] {
        width: 100%;
    }
    .formular-container {
        width: 100%;
        margin-bottom: 15px;
        max-width: none;
    }
    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 25px;
    }
    .nav {
        float: none;
    }
    .nav a {
        display: none;
    }
    .nav.mobile a {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    #intro {
        background-position: 70%;
    }
    #noutati {
        padding-right: 10px;
    }
    .fb-desktop {
        display: none;
    }
    .fb-mobile {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .container-noutati {
        width: 100%;
        float: none;
    }
}